.main{
    margin-top: 30px;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
    padding: 1em;
    border-radius: 15px;
}
body{
    background-color: antiquewhite;
}
.paddingleft{
    padding-left: 3em;
}
